header{
    font-weight: bold;
    font-size: 200%;
    position: absolute;
    top: 5vw;
    left: 40%;
}
#bubbleTeaImg{
    width: 15vw;
    height: 17vw;
    position: absolute;
    left: 39%;
    top: 8.5vw;
}
#rodzaj{
    width: 10%;
    position: absolute;
    left: 28%;
    top: 11vw;
}
#baza{
    width: 10%;
    position: absolute;
    left: 55%;
    top: 11vw;
}
#rozmiar{
    width: 10%;
    position: absolute;
    left: 55%;
    top: 14vw;
}
#syrop{
    width: 10%;
    height: 11%;
    position: absolute;
    left: 66%;
    top: 11vw;
}
#dodatek{
    width: 10%;
    height: 11%;
    position: absolute;
    left: 77%;
    top: 11vw;
}
#sectionRabat{
    font-weight: bold;
}
#labelExtraDodatek{
    position: absolute;
    left: 68%;
    top: 17vw;
    font-size: 100%;
    font-weight: 200;
}

input[type="checkbox"] {
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 2em;
  height: 2em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  margin: 1vw;
  position: absolute;
  left: 27%;
  top: 19vw;
}

#labelRabat{
  position: absolute;
  left: 31%;
  top: 19.5vw;
}

#sectionCena{
  width: 7vw;
  height: 6vw;
  border: 1px solid black;
  position: absolute;
  left: 42.7%;
  top: 27vw;
  border-radius: 30%;
}
#sectionCena #labelCena{
  font-size: 110%;
  text-align: center;
  position: absolute;
  left: 21%;
  top: 10%;
}
#sectionCena #labelCenaZl{
  font-size: 200%;
}
  
